/* font*/
@font-face {font-family: 'NanumGothic'; src: url('/static/font/NanumGothic.woff') format('woff');}
@font-face {font-family: 'NanumGothicBold'; src: url('/static/font/NanumGothicBold.woff') format('woff');}

/* common */
* {color: #4C4C4C; font-family: 'NanumGothic', 'serif';}
html, body {margin: 0px; background: #f7f7f7;}
header {background: #686868; position:fixed; width: 100%; height: 25px; top: 0; left: 0;}
aside {background: #ababab; position:fixed; height: calc(100% - 25px); width: 150px; float: left;}
section {height: calc(100% - 25px); display: inline-block; margin-top: 25px; margin-bottom: 60px; width:100%;}
footer {background: #686868; position:fixed;  width: 100%; height:40px; bottom: 0; left: 0;}



.aside{margin-left: 180px; width: calc(100% - 220px);}
.search-box{background: #ffffff; border-radius: 2.5px; font-weight: 700; font-size: 20px; margin-top: 25px; margin-left: 20px; padding-bottom: 5px; padding-top: 5px; padding-left: 5px; padding-right: 5px; width: calc(100% - 40px); box-shadow: 5px 5px 10px -2px rgb(175 175 175 / 30%)}
.content-box{background: #ffffff; border-radius: 2.5px; margin-top: 25px; margin-left: 20px; padding-bottom: 5px; padding-top: 5px; padding-left: 5px; padding-right: 10px; width: calc(100% - 60px); box-shadow: 5px 10px 20px -2px rgb(175 175 175 / 30%)}

.center{text-align: center; width: 450px; margin: auto;}
@media(max-width: 767px) { /* mobile */
	.center{text-align:inherit; width: inherit; margin: inherit;}
}


.regist-table table{width: 100%; border: 1px solid; margin-top: 2px;}
.regist-table table tr{height: 30px;}
.regist-table table th{width: 150px; text-align: left;}
.title{margin-top: 10px; margin-bottom: 10px;}
.title .text{font-weight:700; font-size: 20px; color: #484848;}




table.no-border{border: 0px solid;}


input{background: #ffffff; width: 100%; height: 30px; border: 1px solid #bdbdbd; border-radius: 2px; text-indent: 5px;}
input:disabled{background: #e5e5e5;}
/* .phone{display: inline-block;}
.phone input:first-child{width: 100px;}
.phone input:not(:first-child){width: calc(40% - 50px)} */
/* .phone input:nth-child(2){width: calc(40% - 50px);}
.phone input:last-child{width: calc(40% - 50px)} */

.input-check-box {text-align: left; display: none;}
.input-check-box.on {display: block;}
.input-check-box span{color: red; font-size: 12px;}

.button-box{margin-top: 5px;
    margin-bottom: 5px;}
.button-box button{}
.button-box button:first-child{}
.button-box button:last-child {
	
}

.submit-box{margin-top: 25px; margin-bottom: 5px; text-align: center;}
.submit-box button{width: 100px; height: 40px;}
@media(max-width: 767px ) { /* mobile */
	.submit-box{display: flex; align-content: stretch;}
	.submit-box button{width: 100%; height: 50px; margin-left: 1px; margin-right: 1px;}
}


button{background: #ffffff; border: 1px solid #000000; border-radius: 3px; color:#4C4C4C; font-weight:600; cursor: pointer; height: 30px;}
button:hover{background: #f6f6f6;}
button:active{background: #e6e6e6;}
button:disabled{background: #c0c0c0; color: #eaeaea; border: 1px solid #f2f2f2; cursor: default;}
.btn-black{background: #4C4C4C; color: #ffffff;}
.btn-black:hover{background: #3A3A3A; color: #ffffff;}
.btn-black:active{background: #333333; color: #ffffff;}


.blind{position: absolute; display: none; background: black; opacity: 0.15;}
.blind.on{width: 100%; height: 100%; display: inline;}
.loding{text-align: center; padding-top: 20%;}



      