<!DOCTYPE HTML>
<html>
<head>
	<title>BSHP 관리자</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/style/common/common.css" type="text/css"/>
	<script type="text/javascript" src="/static/script/common/jsencrypt.min.js"></script>
	<script type="module" src="/static/script/login/join.js"></script>
</head>
<body>
<div class="blind"><div class="loding"><img src="/static/image/floatingRays.svg"></div></div>
<section>
<div class="content-box">		
	<div class="regist-table center">
		<div class="title">
			<span class="text">■ 가입신청</span>
		</div>
		<table class="no-border">
			<tr>
				<th>아이디</th>
			</tr>
			<tr>
				<td>
					<input type="text" id="adminId" maxlength="20">
				</td>
			</tr>
			<tr>
				<th>비밀번호</th>
			</tr>
			<tr>
				<td>
					<input type="password" id="password" maxlength="20">
				</td>
			</tr>
			<tr>
				<th>비밀번호 확인</th>
			</tr>
			<tr>
				<td>
					<input type="password" id="confirm" maxlength="20">
				</td>
			</tr>
			<tr>
				<th>핸드폰번호</th>
			</tr>
			<tr>
				<td>
					<input type="tel" id="phone" maxlength="11">
				</td>
			</tr>
			<tr>
				<th>이메일</th>
			</tr>
			<tr>
				<td>
					<input type="email" id="email" maxlength="50">
				</td>
			</tr>
		</table>
	</div>
	<div class="submit-box">
		<button id="cancel">취소</button>
		<button id="request" class="btn-black">신청</button>
	</div>
</div>
</section>
</body>
</html>