<!DOCTYPE HTML>
<html>
<head>
	<title>BSHP 관리자</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="/static/style/common/common.css" type="text/css"/>
	<script type="module" src="/static/script/common/common.js"></script>
</head>
<body>
<section>
<div class="title">
	<span>■ 가입신청</span>
</div>
<div class="content">
	<div class="sub-title">
		<span>■ 회원정보</span>
	</div>
	<div class="regist-table">
		<table>
			<tr>
				<th>아이디</th>
				<td>
					<input type="text">
				</td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td>
					<input type="tel">
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>
					<input type="email">
				</td>
			</tr>
		</table>
	</div>
	<div class="button-group">
		<button>취소</button>
		<button>신청</button>
	</div>
</div>
</section>
</body>
</html>