<!DOCTYPE HTML>
<html>
<head>
	<title>BSHP 관리자</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="/static/style/common/common.css" type="text/css"/>
	<script type="module" src="/static/script/common/common.js"></script>
</head>
<body>
<section>
<script type="text/javascript">
//암호화 객체 생성
const crypt = new JSEncrypt();
window.addEventListener('DOMContentLoaded', function(event){
	
	// 취소
	cancel.addEventListener('click', e => window.history.back());
	
	// 가입신청
	request.addEventListener('click', joinRequest);
});

/**
 * 가입신청
 */
function joinRequest(event){
	
	
	
	
	
}
</script>
<div class="title">
	<span>■ 가입신청</span>
</div>
<div class="content">
	<div class="sub-title">
		<span>■ 회원정보</span>
	</div>
	<div class="regist-table">
		<table>
			<tr>
				<th>아이디</th>
				<td>
					<input type="text">
				</td>
			</tr>
			<tr>
				<th>전화번호</th>
				<td>
					<input type="tel">
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td>
					<input type="email">
				</td>
			</tr>
		</table>
	</div>
	<div class="submit-box">
		<button id="cancel">취소</button>
		<button id="request" class="btn-black">신청</button>
	</div>
</div>
</section>
</body>
</html>